<div class="gi-awards box rounded-box <%= palette %>">
  <div class="subheading">AWARDS</div>
  <div>
    <div class="fs-dominant mt-2">
      Accenture innovation competition winner
    </div>
    <div class="fs-minor fc-silver">2010</div>
    <ul>
      <li>
        Winner of internal Accenture competition of innovations. I created a desktop
        C#/.NET application watching tickets assigned to a workgroup with
        notifications and statistics. This solution ensured the high priority tickets to be
        no more overlooked.
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      University competition winner
    </div>
    <div class="fs-minor fc-silver">2004</div>
    <ul>
      <li>
        At the end of my studies I came up with my own idea for my thesis. I
        developed two C++/MFC based applications (Amod and Simod) that have
        replaced a command line based program used for transportation computing
        and simulation at the university. These apps added a lot of new options,
        loading and saving to files and a visual presentation as a Windows desktop
        application. I won a university competition with these apps and later they
        started to be used by the University of Žilina for educational purposes
        oﬃcially.
      </li>
    </ul>
  </div>
</div>
