<div class="gi-interests box rounded-box <%= palette %>">
  <div class="subheading">HOBBIES / INTERESTS</div>
  <div class="mt-4 text-justify">
    Beside the fact that computer programming is my favourite hobby used also
    for living I have several more to mention.
  </div>
  <ul>
    <li>
      Tennis - I have been a passionate tennis player since 2003 until now. I
      do attend a lot of tournaments and leagues and I also organize a summer-long
      tennis competition in my original hometown every year. I still practice a lot
      and attend training sessions every week.
    </li>
    <li>
      Electric guitar jamming - I love to jam over bluesy/jazzy/funk music on
      my electric guitar every day.
    </li>
    <li>
      Meeting friends, talking, spending time in nature, travelling.
    </li>
  </ul>
</div>
