<div class="gi-volunteering box rounded-box <%= palette %>">
  <div class="subheading">
    VOLUNTEERING
  </div>
  <div class="mt-4 text-justify">
    Beside the commercial work I attend in some volunteering projects.
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Slovensko.Digital - <span class="fc-silver">technical developer</span>
    </div>
    <ul>
      <li>
        Navody.digital - web application helping public people to successfully
        pass oﬃcial matters whenever needed. It describes steps needed to
        be taken with detailed explanations and some automatization when
        possible.<br>
        <%= link_to 'https://navody.digital', 'https://navody.digital', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Personal projects - <span class="fc-silver">technical developer</span>
    </div>
    <ul>
      <li>
        As a passionate tennis player I have created more web applications
        used by my local tennis community to organize and manage summer
        tennis competitions. These apps sometimes change, sometimes are
        merged - always by current year needs.<br>
        <%= link_to 'https://github.com/tomas-radic', 'https://github.com/tomas-radic', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Rails Girls - <span class="fc-silver">mentor</span>
    </div>
    <ul>
      <li>
        Several times attended as a mentor in Rails Girls weekend events
        organized to demonstrate how applications are technically built to
        women interested in the information technology world.<br>
        <%= link_to 'https://railsgirls.com', 'https://railsgirls.com', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>
</div>
