.grid-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-desktop) {
    display: grid;
    grid-template-columns: [left] 1fr [mid] 1fr [right];
    grid-template-rows: [top] 9fr [skills] 5fr [about] 10fr [volunteering] 8fr [awards] 7fr [interests] 10fr [bottom];
  }
}

.gi-about {
  grid-column-start: left;
  grid-column-end: mid;
  grid-row-start: top;
  grid-row-end: about;
}

.gi-skills {
  grid-column-start: mid;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: skills;
}

.gi-volunteering {
  grid-column-start: left;
  grid-column-end: mid;
  grid-row-start: about;
  grid-row-end: volunteering;
}

.gi-experience {
  grid-column-start: mid;
  grid-column-end: right;
  grid-row-start: skills;
  grid-row-end: awards;
}

.gi-awards {
  grid-column-start: left;
  grid-column-end: mid;
  grid-row-start: volunteering;
  grid-row-end: awards;
}

.gi-interests {
  grid-column-start: left;
  grid-column-end: mid;
  grid-row-start: awards;
  grid-row-end: interests;
}

.gi-education {
  grid-column-start: mid;
  grid-column-end: right;
  grid-row-start: awards;
  grid-row-end: interests;
}

.gi-contacts {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: interests;
  grid-row-end: bottom;
}
