.palette1 {
  background-color: $color-metallic-dark;
  color: $color-white;

  //.subheading {
  //  @extend .pt-sans-bold-italic;
  //  @extend .fs-subheading;
  //  @extend .mt-4;
  //
  //  color: $color-pink;
  //}
}

.palette2 {
  background-color: $color-metallic-light;
  color: $color-graphit;
}

.palette3 {
  background-color: $color-fire;
  color: $color-white;
}

.palette4 {

}

