.fs-heading {
  @extend .pt-sans-bold;

  font-size: 3rem;
}

.fs-subheading {
  font-size: 1.9rem;
}

.fs-dominant {
  font-size: 1.35rem;
}

.fs-minor {
  font-size: 0.8rem;
}

.fc-silver {
  color: $color-silver;
}

.fc-white {
  color: $color-white;
}

.fc-fire {
  color: $color-fire;
}

.fc-terminal {
  color: $color-terminal;
}

.text-justify {
  text-justify: auto;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}