$color-graphit: #2c2b2b;
$color-silver: #e4cfcf;
$color-white: #ffffff;
$color-yellow: #eaed88;
$color-fire: #e64833;
$color-metallic-dark: #7091e6;
$color-metallic-light: #ede8f5;

$bp-desktop: 1100px;
